html {
  font-size: 62.5%;
}

body {
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
  color: #161412;
}

header {
  padding:2rem;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  background-color: #161412;
  color: #f0f0f0;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.game-name {
  font-size: 3rem;
  font-weight: 600;
}

.game-scoreboard {
  font-weight: 600;
}

.game-info {
  margin-top: 2.5rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 3rem;
}
.card-container {
  display: flex;
  gap: 4rem 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #eaded0; /* Creamy White */
  color: #333;
  width: 30rem;
  padding: 1rem;
  border-radius: 2rem;
  flex: 0 0 28rem;
  height: 40rem;
}

.card:hover {
  box-shadow: 0 0 2rem rgb(255, 162, 0);
  cursor: pointer;

}

.card img {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  font-size: 3rem;
  font-weight: bold;
}
